@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  overflow-x: hidden; }

html {
  font-size: 10px; }

body {
  font-family: "Roboto" Julius Sans One; }

p {
  color: #4d4d4d; }

.btn_solid {
  background-color: #009DE0;
  border-radius: 5px;
  border-style: none;
  color: #fff !important;
  padding: 10px 18px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem; }

.btn_outlined {
  background-color: transparent;
  border-radius: .5rem;
  margin-left: 1rem;
  border: 1px solid #009DE0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff !important;
  padding: 1rem 1.8rem;
  margin-top: 2rem; }

.btn_solid-dark {
  background-color: #002A54;
  border-radius: .5rem;
  border-style: none;
  color: #fff !important;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase; }

.help_btn {
  color: #009DE0;
  font-weight: bold; }

footer {
  background-color: #002A54;
  text-align: center;
  padding: 5rem 2rem; }
  footer .footer_heading {
    color: #009DE0;
    font-size: 2rem;
    margin-top: 2rem; }
  footer .footer_list-detials {
    color: #fff;
    font-size: 1.3rem;
    padding: 3px 0; }
  footer .company_logo {
    color: #fff;
    font-size: 3rem;
    margin: 0 auto; }
  footer .social-icons {
    font-size: 2rem;
    color: #fff; }

#subscribe {
  padding: 4rem 2rem;
  background-color: #fecb3b; }
  #subscribe .subscribe_heading {
    font-size: 2rem; }
  #subscribe .subscribe_caption {
    font-size: 1.3rem; }
  #subscribe .subscribe_form .input-group {
    width: 90vw;
    padding: 1rem 0; }
    #subscribe .subscribe_form .input-group input {
      font-size: 1.2rem;
      height: 3.5rem; }
    #subscribe .subscribe_form .input-group button {
      background-color: #002A54;
      color: #fff;
      font-weight: bold;
      padding-left: 2rem;
      padding-right: 2rem; }
  #subscribe ion-icon {
    color: #009DE0; }

#minibar {
  background-color: #002A54;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between; }
  #minibar .minibar_contact-text {
    color: #dbd7d2;
    font-size: 1.3rem; }
    #minibar .minibar_contact-text .minibar_number {
      color: #fff;
      font-weight: bold; }
  #minibar .minibar_nav .minibar_nav-list .minibar_nav-minilink {
    display: inline;
    margin-left: 2rem; }
    #minibar .minibar_nav .minibar_nav-list .minibar_nav-minilink a {
      color: #fff;
      font-size: 1.3rem; }

.navbar {
  padding: 1rem 2rem; }
  .navbar .navbar-brand .brand_img {
    width: 11rem; }
  .navbar .navbar-nav .nav-item {
    margin-left: 2rem; }
    .navbar .navbar-nav .nav-item .nav-link {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: bold; }
    .navbar .navbar-nav .nav-item .nav_btn-link {
      background-color: #009DE0;
      color: #fff;
      font-weight: bold;
      padding: .5rem 1.5rem;
      border-radius: .5rem; }

.carousel-control-next,
.carousel-control-prev {
  filter: invert(0%); }

#home header {
  padding: 0; }
  #home header .banner {
    width: 100%;
    height: 80vh;
    padding-top: 25vh;
    background-image: url("../assets/header-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden; }
    #home header .banner .header_content {
      z-index: 2;
      position: relative; }
      #home header .banner .header_content .title {
        color: #fff;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold; }
        #home header .banner .header_content .title .title_yellow {
          color: #FEBE0A; }
      #home header .banner .header_content .btn-box a {
        width: 90%; }
    #home header .banner .wave::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -10%;
      width: 120%;
      height: 400px;
      background: url("../assets/Rectangle 3 (1).png");
      z-index: 1; }

#brands {
  background-color: #e5f5fb;
  display: flex;
  flex-wrap: wrap;
  padding: 0; }
  #brands > div {
    flex: 1; }

#features {
  padding: 10rem 2rem; }
  #features .features_heading {
    font-size: 3.7rem;
    font-weight: bold;
    margin-top: 5rem; }
  #features .features_text {
    font-size: 2rem; }
  #features .features_img {
    width: 80%; }
  #features .features_btn {
    padding: 1rem 3rem; }

#businesses {
  margin: 10rem 2rem; }
  #businesses .businesses_overview {
    padding: 0 5rem; }
  #businesses .businesses_heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem; }
  #businesses .content_box {
    margin: 2rem 2rem;
    max-width: 100%;
    background-color: #e5f5fb;
    padding: 3rem; }
  #businesses .content_box:hover {
    box-shadow: 1rem 1rem 5rem grey; }
  #businesses .business_btn {
    margin-top: 2rem; }
  #businesses .list_text {
    font-size: 1.4rem;
    font-weight: bold; }
  #businesses .business_img {
    width: 70%;
    margin-bottom: 2rem; }
  #businesses .contain {
    flex-wrap: wrap; }
  #businesses .shop-img {
    padding: 10px;
    background-color: #E5F5FC;
    margin: 10px;
    width: 27%; }

#study {
  background-color: #e5f5fb;
  padding: 5rem; }
  #study .study_heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem; }
  #study .slides {
    margin: 4rem 0; }
  #study .img-box {
    width: 80%;
    margin: 0 auto; }
  #study .comment_vid {
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3rem;
    position: relative; }
    #study .comment_vid ion-icon {
      font-size: 8rem;
      color: #fff;
      position: absolute;
      top: 40%;
      left: 40%; }
  #study .comment_text {
    font-size: 1.5rem;
    margin-top: 20%; }
  #study .comment_name {
    font-size: 1.2rem;
    margin-left: 1rem;
    font-weight: bold; }

#benefit {
  margin: 4rem 2rem; }
  #benefit .benefit_row {
    margin: 5rem 0; }
  #benefit img {
    box-shadow: 1rem 1rem 5rem grey; }
  #benefit .row {
    justify-content: space-around; }
    #benefit .row .benefit_heading {
      font-size: 3rem;
      font-weight: bold;
      padding-bottom: 3rem; }
    #benefit .row .benefit_text {
      font-size: 1.5rem; }

#help {
  margin: 0 2rem;
  padding-top: 10rem; }
  #help .help_content {
    margin-bottom: 4rem; }
  #help .help_heading {
    font-size: 3rem;
    font-weight: bold; }
  #help .help_subheading {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  #help .help_btn {
    font-size: 1.5rem; }

@media only screen and (min-width: 500px) {
  header {
    padding: 0 2rem; }
    header .banner .header_content .btn-box a {
      width: auto !important; }
  #businesses .content_box {
    max-width: 22%; }
  .carousel-control-next,
  .carousel-control-prev {
    filter: invert(100%); }
  #subscribe .subscribe_form .input-group {
    width: 50vw; }
  footer {
    text-align: left; }
    footer .company_logo {
      margin: 0; } }
