@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/footer";
@import "components/subcribe";
@import "components/minibar";
@import "components/navbar";

@import "pages/business";
@import "pages/demo";
@import "pages/features";
@import "pages/home";
@import "pages/pricing";

* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}