@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";


@import "components/buttons";
@import "components/footer";
@import "components/subcribe";
@import "components/minibar";
@import "components/navbar";

@import "pages/business";
@import "pages/demo";
@import "pages/features";
@import "pages/home";
@import "pages/pricing";

* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#header{
    height: 80vh;
    background: url('../assets/image\ of\ landing\ page.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 2rem;

    .wave:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 421px;
        background: url('../assets/Rectangle\ 3\ \(1\).png')
    }

    .header_content{
        position: absolute;
        top: 35%;
        text-align: left;
        width: 90%;
        left: 9%;
        color: #fff;
        z-index: 3;
        
        h1{
            font-weight: bold;
            font-size: 3rem;
            text-align: left;
            text-transform: uppercase;

            .yellow-text{
                color: $color-secondary;
            }
            .blue-text{
                color: $color-primary;
            }
        }
        .btn-box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

    }
}


#brands{
    background-color: $color-skyblue;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;

    > div {
        flex: 1;
    }
}

#features{
    padding: 2rem;

    .features_heading{
        font-size: 3.7rem;
        text-align: left;
        font-weight: bold;

    }
    .features_text{
        font-size: 2rem;
        text-align: left;
    }
    .features_btn{
        padding: 1rem 3rem;
        
    }
}

#businesses{
    margin:  2rem;

    .businesses_heading{
        font-size: 3rem;
        font-weight: bold;
    }
    .contain{
        flex-wrap: wrap;
    }
    .shop-img{
        padding: 10px;
        background-color: #E5F5FC;
        margin: 10px;
        width: 27% ;
    }
}

#study{
    background-color: $color-skyblue;
    padding: 2rem;

    .study_heading{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3rem;
    }
    .img-box{
        width: 80%;
        margin: 0 auto;
    }
}

#benefit{
    margin: 4rem 2rem;

    .row{
        justify-content: space-around;
    
        .img-box{
            position: relative;
        }
        .overlay{
            width: 100%;
            height: 100%;
            background-color: #c4eefead;
            position: absolute;
        }
        .benefit_heading{
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
        }
        .benefit_text{
            font-size: 1.5rem;
            text-align: center;
        }
    }
    
}

#help{

    .help_heading{
        font-size: 3rem;
        font-weight: bold;
    }
    
    .help_subheading{
        font-size: 1.5rem;
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }
    .help_btn{
        font-size: 1.5rem;
    }
}

#subscribe{
    padding: 4rem 2rem;
    background-color: #fecb3b;


    ion-icon{
        color: #009DE0;
    }
    input{
        width: 24rem;
    }
}

footer{
    background-color: #002A54;
    text-align: left;
    padding: 2rem;

    h6{
        color: #009DE0;
        font-size: 2rem;
        margin-top: 2rem;
    }
    li{
        color: #fff;
        font-size: 1.3rem;
        padding: 3px 0;
    }
    .social-icons{
        font-size: 3rem;
        color: #949494;
    }
}














@import "base/utilities";