.carousel-control-next,
.carousel-control-prev {
    filter: invert(0%);
}
#home {

    header {
        padding: 0;

        .banner {
            width: 100%;
            height: 80vh;
            padding-top: 25vh;
            background-image: url('../assets/header-img.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;

            .header_content {
                z-index: 2;
                position: relative;
                ;
                .title {
                    color: $color-snowwhite;
                    font-size: 3rem;
                    text-transform: uppercase;
                    font-weight: bold;

                    .title_yellow {
                        color: $color-secondary;
                    }
                }
                .btn-box a{
                    width: 90%;
                }
            }
            
            .wave::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: -10%;
                width: 120%;
                height: 400px;
                background: url("../assets/Rectangle 3 (1).png"); 
                z-index: 1;
            }

         
        }

    }
}

#brands{
    background-color: $color-skyblue;
    display: flex;
    flex-wrap: wrap;
    padding: 0 ;

    > div {
        flex: 1;
    }
}


#features{
    padding: 10rem 2rem;

    .features_heading{
        font-size: 3.7rem;
        font-weight: bold;
        margin-top: 5rem;
    }

    .features_text{
        font-size: 2rem;
    }

    .features_img {
        width: 80%;
    }

    .features_btn{
        padding: 1rem 3rem;
        
    }
}

#businesses{
    margin: 10rem 2rem;


    .businesses_overview{
        padding: 0 5rem;
    }
    .businesses_heading{
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .content_box {
        margin: 2rem 2rem;
        max-width: 100%;
        background-color: $color-skyblue;
        padding: 3rem;
    }
    .content_box:hover{
        box-shadow: 1rem 1rem 5rem grey;
    }

    .business_btn {
        margin-top: 2rem;
    }

    .list_text {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .business_img {
        width: 70%;
        margin-bottom: 2rem;
    }

    .contain{
        flex-wrap: wrap;
    }
    .shop-img{
        padding: 10px;
        background-color: #E5F5FC;
        margin: 10px;
        width: 27% ;
    }
}

#study{
    background-color: $color-skyblue;
    padding: 5rem;

    .study_heading{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3rem;
    }

    .slides {
        margin: 4rem 0;
    }

    .img-box{
        width: 80%;
        margin: 0 auto;
    }

    .comment_vid {
        height: 30rem;
        background-color: rgba(0,0,0,.8);
        border-radius: 3rem;
        position: relative;

        ion-icon {
            font-size: 8rem;
            color: #fff;
            position: absolute;
            top: 40%;
            left: 40%;
        }
    }

    .comment_text {
        font-size: 1.5rem;
        margin-top: 20%;
    }

    .comment_name {
        font-size: 1.2rem;
        margin-left: 1rem;
        font-weight: bold;
    }
}

#benefit{
    margin: 4rem 2rem;

    .benefit_row {
        margin: 5rem 0;
    }

    img {
        
        box-shadow: 1rem 1rem 5rem grey;
    }

    .row {
        justify-content: space-around;

        .benefit_heading{
            font-size: 3rem;
            font-weight: bold;
            padding-bottom: 3rem;
        }
        .benefit_text{
            font-size: 1.5rem;
        }
    }
    
}

#help{
    margin: 0 2rem;
    padding-top: 10rem;

    .help_content {
        margin-bottom: 4rem;
    }

    .help_heading{
        font-size: 3rem;
        font-weight: bold;
    }
    
    .help_subheading{
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .help_btn{
        font-size: 1.5rem;
    }
}
