#minibar {
    background-color: $color-darkblue;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;

    .minibar_contact-text {
        color: #dbd7d2;
        font-size: 1rem;

        .minibar_number {
            color: $color-snowwhite;
            font-weight: bold;
        }
    }

    .minibar_nav {

        .minibar_nav-list {

            .minibar_nav-minilink {
                display: inline;
                margin-left: 1rem;

                a {
                    color: $color-snowwhite;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

