.navbar {
    padding: 1rem 2rem;
    margin-top: 4rem;

    .free-trial{
        margin: 0 2rem 0 auto;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5em;
    }
    .dropdown-menu{
        left: auto;
    }
    .navbar-brand {

        .brand_img {
            width: 11rem;
        }

    }

    .navbar-nav {

        .nav-item {
            margin-left: 2rem;

            .nav-link{
                font-size: 1.3rem;
                text-transform: uppercase;
                font-weight: bold;
            }

            .nav_btn-link {
                background-color: $color-primary;
                color: $color-snowwhite;
                font-weight: bold;
                padding: .5rem 1.5rem;
                border-radius: .5rem;
            }
        }
    }
}