@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	font-size: 10px;
}

body {
	font-family: quasimoda, sans-serif;
	font-style: normal;
	font-weight: 100;
	
}

p{
	color: $color-lightblack;
}