@media only screen and (max-width: 768px) {

}
@media only screen and (min-width: 500px) {
    

    .navbar{
        a.free-trial{
            display: none;
        }
    }
     header {
         padding: 0 2rem;
        .banner .header_content .btn-box a{
            width: auto !important;
        }
     }

    #home #businesses .content_box, #businesses-page #businesses .content_box{
        max-width: 23%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    #subscribe  .subscribe_form .input-group {
        width: 50vw;

    }
    .banner img.desktop{
        width: 40rem ;
    }

    #sidebar{
        display: block;
    }

    footer{
        text-align: left;

        .company_logo{
            margin: 0 ;
        }
    }

    /*features page*/
    .banner >div .banner-text {
        display: inline-flex;
    }

    .contact{
        margin: 2rem 0;

    }
}


@media only screen and (min-width: 768px) {}