@media only screen and (max-width: 768px) {

}
@media only screen and (min-width: 500px) {
    #header .header_content{
        width: 60% ;
        left: 25%;
        
        h1{
            text-align: center;
        }
    }

    #businesses .shop-img{
        width: 22%;
    }

    form{
        margin-left: 36%;
    }
}


@media only screen and (min-width: 768px) {}