$color-primary: #009DE0;
$color-secondary: #FEBE0A;
$color-skyblue: #e5f5fb;
$color-pricingheading: #4d6a88;
$color-lightorange: #fce199;
$color-darkblue: #002A54;
$color-snowwhite: #fff;
$color-yellowsun: #fecb3b;